---
interface Props {
    topic: string;
    brightness: "light" | "dark";
}

const { topic , brightness} = Astro.props;
const topicSlug = topic.replaceAll(" ", "-").toLocaleLowerCase();
const textColor = brightness === "dark" ? "text-white" : "text-black";

---

<div
    class={`py-1 px-2 rounded-md ${textColor} border-2 border-red cursor-pointer`}
    role="link"
    data-href={`/sessions/topics/${topicSlug}`}
>
    <span class="text-sm">{topic}</span>
</div>
