---
import BaseLayout from "../../components/Common/BaseLayout.astro";
import SpeakerCard from "../../components/Speakers/SpeakerCard.astro";
import { getSpeakers } from "../../data/repositories/sessionize_repository";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const speakers = await getSpeakers();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout pageTitle={t('speakers.listTitle')} >
  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-flow-row gap-8 mt-5 mb-7">
    {speakers.map((s) => <SpeakerCard speaker={s} />)}
  </div>
</BaseLayout>
