---
import { WebsiteConfig } from "../../config";
import PageHead from "../../components/Common/PageHead.astro";
import { useTranslations } from "../../i18n/utils";

export const prerender = false;

const request = Astro.request;
let toUrl = "";

try{
    toUrl = atob(new URL(request.url).pathname.replace(/^\/redirect\/?/, "").replace(/_/g, '/').replace(/-/g, '+'))
    if (!WebsiteConfig.ALLOWED_REDIRECT_HOSTS.includes(new URL(toUrl).hostname)){
        return new Response("Host not allowed!", { status: 400 });
    }
}catch(e){
    return new Response("Invalid URL", { status: 400 });
}


const agent = request.headers.get("User-Agent")?.toLowerCase()??"";
const isInstagram = agent.includes("instagram");
const isFacebook = agent.match(/fban|fbav/)
const isIOS = agent.includes("iphone") || agent.includes("ipad") || agent.includes("ipod");


if (isInstagram || isFacebook){
    if (!isIOS){
    
        return new Response("Instagram webview is not supported", {
            status: 200,
            headers: {
                "Content-type": "application/zip",
                "Content-Disposition": "inline; filename= fake_file_redirect",
                "Content-Transfer-Encoding": "binary",
                "Accept-Ranges": "bytes"
            }
        });
    }
}else{
    return new Response("", {
        status: 302,
        headers: {
            "Location": toUrl
        }
    });
}



const lang = "it"
const t = useTranslations(lang);

---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang={lang} class="scroll-smooth flex flex-col min-h-screen multicolored-bg">
  <PageHead />
  <body class="flex flex-col flex-1" style="width: 100vw; height:100vh">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            location.href = location.href.replace(/https?/, "googlechrome")            
        })
    </script>
    <main class="flex flex-col justify-center items-center" style="width: 100vw; height:100vh">
        <div class="jumbo h-192 lg:h-220 p-10 text-center text-primary-content flex flex-col align-center z-20 justify-center" style="width: 100%; height: 100%;">
            <img src="/assets/vectors/logo_big.svg" class="h-36 m-2 md:m-6" />
            <p class="text-xl md:text-3xl font-semibold">
                {
                WebsiteConfig.EVENT_START.toLocaleDateString(lang, {
                    timeZone: WebsiteConfig.EVENT_TIMEZONE,
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                })
                }
            </p>
            <p class="text-xl md:text-3xl font-semibold mb-5">{t("info.locationName")}</p>
            <p class="mb-2 underline">Per utilizzare questa pagina ti chiediamo di usare il tuo browser!</p>
            <p class="underline">Clicca i 3 puntini in alto e seleziona "Apri nel browser esterno"</p>
        </div>
          
    </main>
  </body>
</html>
