---
import BaseLayout from "../../components/Common/BaseLayout.astro";
import StaffView from "../../components/Staff/StaffView.astro";
---

<BaseLayout pageTitle="Team">
  <div class="mb-6 text-white">
    <p class="mb-3">
      Google is known all around the world. Everyone is 'googling', checking on
      'Maps' and communicating in 'Gmail'. For simple users, they are services
      that just works, but not for us. Developers see much more: APIs,
      scalability issues, complex technology stacks. And that is what GDG is
      about.
    </p>
    <p>
      <a href="https://gdg.community.dev/gdg-bari/"
        >Google Developers Group (GDG) Bari
      </a>- is open and volunteer geek community who create exciting projects
      and share experience about Google technologies with a passion.
    </p>
  </div>

  <StaffView />
</BaseLayout>
