---
import BaseLayout from "../../../components/Common/BaseLayout.astro";
import SessionCard from "../../../components/Sessions/SessionCard.astro";
import { getSessions } from "../../../data/api/sessionize_api";
import { getLangFromUrl } from "../../../i18n/utils";
import { useTranslations } from "../../../i18n/utils";

// is your "component frontmatter". It never runs in the browser.

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sessions = await getSessions(true);

---

<BaseLayout pageTitle={ t("sessions.listTitle") }>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-flow-row gap-8 mt-5 mb-7">
    {sessions.map((s) => <SessionCard session={s} />)}
  </div>
</BaseLayout>
