---
import BaseLayout from "../components/Common/BaseLayout.astro";

const faq = [
  {
    group: "Generali",
    questions: [
      {
        question: "Come posso arrivarci?",
        answer:
          "Puoi facilmente raggiungere il Politecnico di Bari con i mezzi pubblici o semplicemente a piedi. Controlla la pagina delle indicazioni per ulteriori dettagli.",
      },
      {
        question: "Ho bisogno di un biglietto per partecipare al DevFest Bari?",
        answer:
          "Sì, la partecipazione al DevFest è gratuita, ma la registrazione è obbligatoria. Essere in lista d'attesa non è sufficiente per partecipare alla conferenza.",
      },
      {
        question: "Non posso partecipare al DevFest, cosa devo fare?",
        answer:
          "Se non puoi partecipare, ti chiediamo gentilmente di cancellare il tuo ordine tramite la piattaforma GDG, oppure inviaci un'email (possiamo farlo per te).",
      },
      {
        question: "Devo stampare i miei biglietti?",
        answer:
          "No, puoi utilizzare il tuo smartphone per mostrarci il biglietto. Mostrare l'email con il QR code del biglietto è sufficiente. Assicurati di avere il biglietto pronto per non rallentare il processo di check-in.",
      },
      {
        question: "Dovrei venire anche se sono ancora in lista d'attesa?",
        answer:
          "Puoi venire anche se sei in lista d'attesa, ma non possiamo assicurarti che avrai un posto. Rilasceremo i biglietti delle persone che non si presentano durante la giornata, quindi potresti avere una possibilità di entrare, ma questo è fuori dal nostro controllo e non possiamo dirti in anticipo se otterrai un posto.",
      },
      {
        question: "Posso dare il mio biglietto a un amico?",
        answer:
          "Purtroppo, questo non è possibile. Se non hai intenzione di venire, per favore cancella il tuo biglietto e chiedi al tuo amico di registrarsi per un nuovo biglietto.",
      },
      {
        question: "Posso lasciare la conferenza e tornare più tardi?",
        answer:
          "Sì, puoi sempre lasciare la conferenza e tornare quando vuoi. Per entrare nella sede avrai comunque sempre bisogno del tuo badge (che riceverai all'ingresso).",
      },
      {
        question: "Cosa devo portare alla conferenza?",
        answer:
          "Il tuo biglietto. Questa è l'unica cosa necessaria che non dovresti dimenticare.",
      },
      {
        question: "Le sessioni vengono registrate?",
        answer:
          "No, non stiamo registrando/trasmettendo in diretta le sessioni.",
      },
    ],
  },
  {
    group: "Scuole",
    questions: [
      {
        question:
          "Sono uno studente delle scuole superiori, la mia classe si è registrata per partecipare alla devfest, devo prendere il biglietto?",
        answer: "Si, ricorda di prendere il biglietto scuola.",
      },
      {
        question:
          "Sono uno studente delle scuole superiori, la mia classe non è registrata per partecipare alla Devfest ma voglio comunque partecipare in autonomia, come posso partecipare?",
        answer:
          "Se stai venendo in autonomia puoi comunque partecipare alla Devfest! Ricorda di prendere il biglietto ordinario in questo caso.",
      },
      {
        question:
          "Ho il biglietto scuola, è obbligatorio seguire la track di talk dedicata agli studenti?",
        answer:
          "Seguire la track di talk dedicata agli studenti non è obbligatorio, ma è fortemente consigliato",
      },
      {
        question: "Cosa comprende il ticket scuola?",
        answer:
          "Il ticket scuola permette l'accesso a tutta l'area dell'evento e la partecipazione a tutte le track e workshop. Inoltre permette l'accesso prioritario alla track studenti, appositamente pensata per studenti della scuola superiore/neodiplomati. La track durerà metà mattinata perchè pensata per coprire l'orario scolastico. Per la medesima ragione il biglietto scuola non prevede la launch box. ",
      },
      {
        question: "Cosa devo fare se ho problemi con i biglietti?",
        answer:
          "Se hai qualsiasi tipo di problema con i biglietti, non esitare a contattarci in privato.",
      },
      {
        question: "I biglietti sono a disponibilità limitata?",
        answer:
          "Sì, i biglietti sono in numero limitato, quindi consigliamo a tutta la classe di iscriversi contemporaneamente in modo da evitare che qualcuno rimanga senza biglietto.",
      },
      {
        question: "Cosa devo fare se non posso più partecipare?",
        answer:
          "Se non puoi più partecipare, ti chiediamo di annullare l'iscrizione all’evento, in modo da poter permettere a qualcun altro di partecipare!",
      },
      {
        question:
          "Sono un docente, devo iscrivermi anche io?",
        answer: "Sì, se sei un docente devi comunque iscriverti utilizzando il biglietto scuola. Ricorda di utilizzare la mail istituzionale.Ricorda inoltre di registrare la classe compilando il form <a href=\"https://forms.gle/NM2boABkkXr4R3N96\">scuole@devfest bari 2024</a>.", 
      },
      {
        question: "Sono un docente, come posso registrare la classe?",
        answer:
          "Per registrare la classe occorre compilare il form <a href=\"https://forms.gle/NM2boABkkXr4R3N96\">scuole@devfest bari 2024</a>. Il form è una manifestazione di interesse che ci permette di avere una visione migliore delle classi che vogliono partecipare. E' comunque necessario che ogni alunno prenda singolarmente il biglietto per partecipare. I posti sono limitati, consigliamo di farlo quanto prima.",
      },
    ],
  },
];
---

<BaseLayout pageTitle="Faq">
  <div class="faq-page flex flex-col gap-10">
    {
      faq.map((group) => (
        <div class="grid md:grid-cols-2 grid-flow-row gap-4 text-white">
          <div class="flex flex-col justify-start">
            <h2 class="font-semibold text-4xl">{group.group}</h2>
          </div>
          <div>
            {group.questions.map((q) => (
              <p>
                <h3 class="font-medium text-2xl my-2">{q.question}</h3>
                <p class="text-md">
                  <Fragment set:html={q.answer} />
                </p>
              </p>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
