---

import Footer from "../components/Common/Footer.astro";
import Navbar from "../components/Common/Navbar.astro";
import PageHead from "../components/Common/PageHead.astro";
import Gallery from "../components/Home/Gallery.astro";
import InfoContainer from "../components/Home/InfoContainer.astro";
import JoinDiscord from "../components/Home/JoinDiscord.astro";
import Jumbo from "../components/Home/Jumbo.astro";
import Location from "../components/Home/Location.astro";
import SpeakerPreview from "../components/Home/SpeakerPreview.astro";
import SponsorSection from "../components/Home/SponsorSection.astro";
import ReasonsToJoin from "../components/Home/ReasonsToJoin.astro";
import TicketSection from "../components/Home/TicketSection.astro";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const getPath = useTranslatedPath(lang);
---

<html lang="en" class="scroll-smooth flex flex-col min-h-screen">
  <PageHead />
  <body class="flex flex-col flex-1">
    <Navbar />

    <main class="flex flex-col">
      <Jumbo />

      <InfoContainer>
        <span slot="info-title"> Cos'è la DevFest Bari?</span>
        <span slot="info-body">
          La <b>DevFest Bari 2024</b> è un evento annuale organizzato dal Google
          Developers Group di Bari, destinato a sviluppatori, tecnologi e appassionati
          del mondo Google. L'evento si terrà a fine ottobre e comprende un giorno
          di ispirazione, apprendimento e networking. Gli partecipanti potranno esplorare
          le ultime innovazioni tecnologiche, con un focus su Android, Web e Cloud
          technologies, AI, tra gli altri.
        </span>
      </InfoContainer>

      <Gallery>
        <p slot="join-photos-text">Foto del DevFest Bari 2024!</p>

        <a
          slot="join-photos-btn"
          class="btn btn-ghost border-2 border-black/20 text-xl px-8 py-2 h-auto mr-2"
          href="https://photos.app.goo.gl/AfzLSMGbazxceF2K7">
          Ufficiali
          <img src="/assets/vectors/camera.svg" class="h-6 ml-2" />
        </a>
        <a
          slot="join-photos-btn"
          class="btn btn-ghost border-2 border-black/20 text-xl px-8 py-2 h-auto"
          href="https://photos.app.goo.gl/gLHnJxHhpBuUrBdaA">
            Community <img src="/assets/vectors/community.svg" class="h-6 ml-2" />
        </a>
      </Gallery>

      <SpeakerPreview />
      { /*
      <TicketSection>
        <div slot="ticket-desc">
          <p>
            Riserva il tuo posto per la DevFest Bari 2024 ed avrai accesso alla
            conferenza comprensiva di tutti i talk e i workshop.
          </p>

          <p class="mt-4 text-3xl mb-2 font-medium">
            Sei una scuola superiore?
          </p>
          <p>
            <a
              href="https://forms.gle/NM2boABkkXr4R3N96"
              target="_blank"
              class="text-red hover:text-red-pastel">Scrivici</a
            > per organizzare la vostra partecipazione.
          </p>
          <p class="mt-4 text-3xl font-medium mb-2">
            Sei uno studente delle scuole superiori?
          </p>
          <p>
            Parlane con con i tuoi professori e facci contattare da loro. Se
            invece vuoi partecipare in autonomia, <a
              target="_blank"
              href="https://gdg.community.dev/events/details/google-gdg-bari-presents-devfest-bari-2024/#QeHcv97kND"
              class="text-red hover:text-red-pastel">Contattaci</a
            > e ti aiuteremo noi.
          </p>
          <p class="mt-10">
            Consulta le <a
              class="text-red hover:text-red-pastel"
              href={getPath("/faq", lang)}
              >FAQ
            </a> per saperne di più.
          </p>
        </div>
      </TicketSection> */} 

      <ReasonsToJoin>
        <span slot="reasons-title">Perché partecipare alla DevFest?</span>
        <span slot="reason-learning-title">Imparare</span>
        <span slot="reason-learning-desc">
          Impara direttamente dalle menti più brillanti del tech e ascolta gli
          esperti del settore Google e delle tecnologie emergenti.</span
        >
        <span slot="reason-workshops-title">Workshop Pratici</span>
        <span slot="reason-workshops-desc">
          Metti le mani in pasta con workshop pratici e porta a casa nuove
          competenze.</span
        >
        <span slot="reason-networking-title">Networking</span>
        <span slot="reason-networking-desc">
          Crea connessioni vitali espandendo la tua rete con professionisti e
          appassionati come te.</span
        >
      </ReasonsToJoin>

      <Location>
        <span slot="location-title">La sede</span>
        <span slot="location-desc"
          >Situato nel campus dell'Università di Bari, è noto per la sua ricerca
          innovativa e orientata all'industria.
        </span>
      </Location>

      <div class="h-2"></div>

      <JoinDiscord>
        <span slot="join-title">Entra nella Community</span>
        <span slot="join-desc">
          Unisciti a noi per far parte di una comunità in crescita, migliorare
          la tua conoscenza e le tue competenze e trovare uno spazio accogliente
          per essere te stesso. Offriamo un ambiente di supporto, discussioni
          stimolanti, eventi divertenti, condivisione di risorse e opportunità
          di networking.</span
        >
      </JoinDiscord>

      <SponsorSection />
    </main>

    <Footer />
    
  </body>
</html>
