---
import PageHead from "../components/Common/PageHead.astro";
import { PageComponent } from "../react/PageComponent";
---

<html lang="en" class="scroll-smooth flex flex-col min-h-screen multicolored-bg">
  <PageHead />
  <body class="flex flex-col flex-1">
    
    <main class="flex flex-col justify-center items-center" style="min-width: 100vw; min-height:100vh">
        <PageComponent client:only="react" page="login" />
    </main>
    
  </body>
</html>
