---
import PageHead from "../components/Common/PageHead.astro";
import { PageComponent } from "../react/PageComponent";
---

<html lang="en" class="scroll-smooth flex flex-col min-h-screen multicolored-bg">
  <PageHead />
  <body class="flex flex-col flex-1" style="width: 100vw; height:100vh">
    
    <main class="flex flex-col justify-center items-center" style="width: 100vw; height:100vh">
        <PageComponent client:only="react" page="signup" />
    </main>
    
  </body>
</html>
