---

import BaseLayout from "../components/Common/BaseLayout.astro";
import StaffView from "../components/Staff/StaffView.astro";
 
---

<BaseLayout pageTitle="Team">
  <div class="mb-6 text-white">
    <p class="mb-3">
      Google è conosciuto in tutto il mondo. Tutti fanno ricerche su Google,
      controllano su 'Maps' e comunicano su 'Gmail'. Per gli utenti comuni, sono
      servizi che semplicemente funzionano, ma non per noi. Gli sviluppatori
      vedono molto di più: API, problemi di scalabilità, stack tecnologici
      complessi. Ed è di questo che si occupa un GDG.
    </p>
    <p>
      <a class="text-red-pastel" href="https://gdg.community.dev/gdg-bari/"
        >Google Developers Group (GDG) Bari
      </a> è una comunità geek aperta e volontaria che crea progetti entusiasmanti
      e condivide esperienze sulle tecnologie di Google con passione.
    </p>
  </div>

  <StaffView />

</BaseLayout>
