---
import { getCollection } from "astro:content";

import StaffMemberCard from "./StaffMemberCard.astro";

const staffCollection = await getCollection("staff");

const organizers = staffCollection.filter(
  (staff) => staff.data.role === "organizer",
);
const collaborators = staffCollection.filter(
  (staff) => staff.data.role === "collaborator",
);
---

<div class="my-3 text-white">
    <h2 class="text-4xl font-medium mb-10">Organizers</h2>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-10">
      {organizers.map((staff) => <StaffMemberCard value={staff} />)}
    </div>
  </div>

  {
    collaborators.length > 0 && (
      <div class="my-3 text-white">
        <h2 class="text-4xl font-medium mb-10">Collaborators</h2>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-10">
          {collaborators.map((staff) => (
            <StaffMemberCard value={staff} />
          ))}
        </div>
      </div>
    )
  }