---
import { WebsiteConfig } from "../../config";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getSchedule, getSessions, getSpeakers } from "../../scripts/api/sessionize_api";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const speakers = await getSpeakers();
const schedule = await getSchedule();
const sessions = await getSessions();
const categories = sessions.map(s => s.topics).flat()
                    .map(ele => ele.toLocaleLowerCase())
                    .filter((value, index, array) => array.indexOf(value) === index)
const tracks = schedule.map(s => s.rooms.length).reduce((a, b) => a + b, 0)

const showIfNotZero = (num: number) => num > 0 ? num : "?"

---

<div class="flex md:flex-row flex-col py-14 bg-red-pastel">
  <div
    class="main-container flex flex-col md:flex-row w-full m-auto px-4 md:gap-32"
  >
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <p class="text-5xl md:text-6xl font-bold mb-4">
        <slot name="info-title" />
      </p>
      <p class="text-xl md:text-2xl">
        <slot name="info-body" />
      </p>
    </div>
    <div
      class="flex-2 grid grid-cols-2 grid-rows-2 gap-12 md:gap-32 pt-12 md:pt-0"
    >
      {
        [
          [t('info.partecipants'), "community", showIfNotZero(WebsiteConfig.NUM_PARTECIPENTS)],
          [t('info.speakers'), "speakers", showIfNotZero(speakers.length)],
          [t('info.categories'), "categories", showIfNotZero(categories.length)],
          [t('info.tracks'), "tracks", showIfNotZero(tracks)],
        ].map(([name, icon, num]: [string, string, number]) => {
          return (
            <div class="flex text-xl items-center justify-center flex-col">
              <img
                src={`/assets/vectors/${icon}.svg`}
                class="text-red fill-current pb-5 sm:w-28 sm:h-28 w-24 h-24"
              />
              <h2 class="font-bold text-5xl">{num}</h2>
              <span class="text-xl underline">{name}</span>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
