---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex md:flex-row flex-col py-14 text-white">
  <div class="flex main-container">
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <p class="text-5xl font-bold mb-4">
        <slot name="join-title" />
      </p>
      <p class="text-lg">
        <slot name="join-desc" />
      </p>
      <div class="h-8"></div>
      <a
        class="not-colored btn-content mx-auto px-8"
        href="https://gdg.community.dev/gdg-bari/"
        target="_blank">{t('community.cta')}</a
      >
    </div>
  </div>
</div>
