---
import { WebsiteConfig } from "../../config";
---

<div class="jumbo h-screen flex flex-col">
  <div
    class="absolute top-0 left-0 right-0 h-screen"
  >
    <div class="absolute top-36 left-0 right-0 p-10 text-center flex flex-col align-center">
      <img src="/assets/vectors/logo_big.svg" class="h-36 m-12" />
      <p class="text-3xl font-semibold">
        {
          WebsiteConfig.EVENT_START.toLocaleDateString("en-US", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }
      </p>
      <p class="text-3xl font-semibold">{WebsiteConfig.EVENT_LOCATION_NAME}</p>
      <div class="mt-8 flex gap-4 justify-center flex-col md:flex-row">
        <a class="btn btn-primary" href={WebsiteConfig.DEVFEST_EVENT_LINK}
          >GET TICKET</a
        >
      </div>
      
    </div>
    <img src="/assets/vectors/skyline.svg" alt="" class="mt-auto absolute bottom-0 left-0 right-0 w-full" />
  </div>
</div>
