---
import { WebsiteConfig } from "../../config";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class="relative flex flex-col">
  <div class="h-128 bg-[url(/assets/images/location.webp)] bg-center bg-cover">
  </div>
  <div class="relative main-container">
    <div
      class="md:absolute md:flex-none md:card bottom-16 left-4 md:w-72 p-6 bg-red-pastel text-black"
    >
      <p class="text-3xl mb-3">
        <slot name="location-title" />
      </p>
      <p class="mb-3">{t("info.locationName")}</p>
      <p>
        <slot name="location-desc" />
      </p>
      <div class="flex flex-row mt-4 items-center">
        <div class="flex-1">{t("info.locationAddress")}</div>
        <a
          class="not-colored flex-none ml-3 p-2 bg-white/50 hover:bg-white/70 ease-in duration-100 rounded-full"
          role="button"
          href="https://goo.gl/maps/rUJghnqCqWYs7uhc7"
        >
          <img src="/assets/vectors/directions.svg" alt="Go to location" />
        </a>
      </div>
    </div>
  </div>
</div>
