---

import { WebsiteConfig } from "../../config";
import { getSchedule, getSessions, getSpeakers } from "../../scripts/api/sessionize_api";

const speakers = await getSpeakers();
const schedule = await getSchedule();
const sessions = await getSessions();
const categories = sessions.map(s => s.topics).flat()
                    .map(ele => ele.toLocaleLowerCase())
                    .filter((value, index, array) => array.indexOf(value) === index)
const tracks = schedule.map(s => s.rooms.length).reduce((a, b) => a + b, 0)

---

<div class="flex items-center justify-around px-10 bg-amber-500 text-white flex-col sm:flex-row">
    {[
        ["Participants", "community", WebsiteConfig.NUM_PARTECIPENTS],
        ["Speakers", "speakers", speakers.length],
        ["Categories", "categories", categories.length],
        ["Tracks", "tracks", tracks]
    ].map( ([name, icon, num]:[string, string, number]) => {
        return <div class="flex text-xl items-center justify-center flex-col sm:py-20 py-10">
            <img src={`/assets/vectors/${icon}.svg`} class="text-white fill-current pb-10 sm:w-32 sm:h-32 w-44 h-44" />
            <h2 class="font-bold text-5xl">{num}</h2>
            <span class="text-xl underline">{name}</span>
        </div>
    })}
</div>
