<div class="bg-red-pastel">
    <div class="flex flex-col py-14 main-container ">
        <h2 class="text-4xl font-bold mb-10">Perché partecipare alla devfest?</h2>
        <div class="grid grid-cols-3 gap-8">
            <div class="card items-center text-center">
                <img class="w-64" src="/assets/vectors/learning.svg" alt="Imparare">

                <div class="card-body p-4">
                    <p class="my-2 text-xl font-semibold">Imparare</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
            <div class="card items-center text-center">
                <img class="w-64" src="/assets/vectors/workshop.svg" alt="Workshop">


                <div class="card-body p-4">
                    <p class="my-2  text-xl font-semibold">Workshop Pratici</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
            <div class="card items-center text-center">
                <img class="w-64" src="/assets/vectors/networking.svg" alt="Networking">

                <div class="card-body p-4">
                    <p class="my-2 text-xl font-semibold">Networking</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
