---
import { getSpeakers } from "../../scripts/api/sessionize_api";
import { RandomSpeakerList } from "./RandomSpeakerList";

const speakers = await getSpeakers();

---

<div class="py-14 main-container px-4" >
  <h2 class="text-6xl mb-10 font-bold text-white">Speakers</h2>
  <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-10 mt-5 mb-10">
    <RandomSpeakerList client:only="react" speakers={speakers??[]} />
  </div>

  <a
    class="btn-content text-xl px-8"
    href="/speakers">See all Speakers</a
  >
</div>
