<div class="bg-base-200">
    <div class="flex flex-col bg-base-200 text-center py-6 max-w-6xl lg:w-4/5 w-full m-auto px-4">
        <h2 class="text-4xl font-bold mb-10">Perché partecipare alla devfest?</h2>
        <div class="grid grid-cols-3 gap-8">
            <div class="card rounded-none">
                <div class="bg-error h-56 border-2 w-full rounded-lg"></div>

                <div class="card-body p-4">
                    <p class="my-2 font-medium text-lg">Title</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="bg-error h-56 border-2 w-full rounded-lg"></div>


                <div class="card-body p-4">
                    <p class="my-2 font-medium text-lg">Title</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="bg-error h-56 border-2 w-full rounded-lg"></div>

                <div class="card-body p-4">
                    <p class="my-2 font-medium text-lg">Title</p>
                    <p class="max-h-12 text-ellipsis overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
