<div class="flex md:flex-row flex-col pb-14 pt-12">
    <div class="flex-1 md:flex md:items-center text-center justify-center">
        <p class="text-5xl mb-4 md:mb-0 font-semibold text-white">Ticket</p>
    </div>

    <div class="flex-1 flex justify-center items-center">
        <div class="card p-4 items-stretch text-center bg-red-pastel">
            <p>Regular</p>
            <p class="text-6xl font-medium my-8">FREE</p>
            <div class="my-4"></div>
            <p>26 Ottobre 2024</p>
            <p> Accesso alla conferenza, workshop pratici, after party</p>
            <div class="my-10"></div>
            <a class="btn-content" href="/">JOIN</a>
        </div>
    </div>
  </div>
  