.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.add-calendar-icon svg{
    width: 20px;
    height: 20px;
}

.dropdown-content > *{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 3px;
    transition: 0.3s;
}

.dropdown-content > *:hover{
    opacity: 0.4;
    transition: 0.3s;
}

/*------------------------------------
    WHEEL ANIMATION
------------------------------------*/


.wheel-rotate-animation {
    animation: spin 26s linear infinite;
    transform-origin: 16.532217264175415% 48.99247921303165%;/* Calculated using public/assets/vectors/skyline-parts/getcoord.html */
}
        
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}