/*------------------------------------
    WHEEL ANIMATION
------------------------------------*/


.wheel-rotate-animation {
    animation: spin 26s linear infinite;
    transform-origin: 16.532217264175415% 48.99247921303165%;/* Calculated using public/assets/vectors/skyline-parts/getcoord.html */
}
        
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

body.multicolored {
	background: linear-gradient(-40deg, #34A853, #4285F4, #EA4335, #F9AB00 );
	background-size: 150% 150%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}