/*------------------------------------
    WHEEL ANIMATION
------------------------------------*/


.wheel-rotate-animation {
    animation: spin 26s linear infinite;
    transform-origin: 16.532217264175415% 48.99247921303165%;/* Calculated using public/assets/vectors/skyline-parts/getcoord.html */
}
        
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}