---
interface Props {
  href: string;
  text: string;
}

const { href, text }:Props = Astro.props;
---

<button
    class="share not-colored  cursor-pointer hover:opacity-75 transition-opacity"
    onclick={`window.open(atob('${btoa(href)}'), '_blank', 'noopener');`}
>
    { text.charAt(0).toUpperCase() + text.slice(1)}
    <!-- <img class="w-6" src={`/assets/vectors/${logo}_logo.svg`} /> -->
</button>