---
import { WebsiteConfig } from "../../config";

const { DEVFEST_NAME, DEVFEST_LOGO_LIGHT, DEVFEST_LOGO_DARK } = WebsiteConfig;

interface Props {
  transparentMode?: boolean;
}

const links = [
  { link: "/", name: "Home" },
  { link: "/schedule", name: "Schedule" },
  { link: "/sessions", name: "Sessions" },
  { link: "/speakers", name: "Speakers" },
  { link: "/location", name: "Location" },
  { link: "/faq", name: "Faq" },
  { link: "/team", name: "Team" },
];
---

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-base-100 w-full fixed top-0 z-30 border-b-4 border-b-red">
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2">
        <img src="/assets/vectors/logo_full.svg" alt="Devfest Logo" class="h-6" />
      </div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal text-white">
          <!-- Navbar menu content here -->
          {
            links.map((item) => (
              <li>
                <a class="hover:bg-red-pastel hover:text-black" href={item.link}>{item.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side z-40 ">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu min-h-full w-80 p-4 bg-red-pastel">
      {
        links.map((item) => (
          <li>
            <a href={item.link}>{item.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
