---

import ScheduleCard from "../ScheduleCard.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { getSchedule } from "../../../data/api/sessionize_api";
import ScheduleTab from "./ScheduleTab.astro";


/*
  - 51235:"Frontend"
  - 51236:"Mobile"
  - 51237:"Cloud"
  - 53346:"Soft skill"
  - 53347:"AI"
  - 53348:"WS I"
  - 53349:"WS II"
  - 53350:"WS III"
*/



const schedule = await getSchedule()
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const tab1Rooms = [51235, 51236, 51237, 53347, 53346];
const tab2Rooms = [53348, 53349, 53350];

---
<div class="text-white">
  
  <div role="tablist" class="tabs tabs-boxed bg-transparent w-full tabs-lg mt-[-20px]">
    <input
      type="radio"
      name="schedule_tabs"
      role="tab"
      class="tab text-white rounded-md"
      aria-label="Talks"
      checked="checked"
    />
    <div role="tabpanel" class="tab-content mt-3">
      <ScheduleTab schedule={schedule} rooms={tab1Rooms} />
    </div>
    
    <input
      type="radio"
      name="schedule_tabs"
      role="tab"
      class="tab text-white rounded-xl"
      aria-label="Workshops"
    />
    <div role="tabpanel" class="tab-content mt-3">
      <ScheduleTab schedule={schedule} rooms={tab2Rooms} />
    </div>
  </div>
  
  {schedule.length == 0?<h3 class="underline">{t("scheduling.noschedule")}</h3>:null}

</div>